<footer class="border-top">
    <div class="sticky-bottom">
        <div class="d-flex flex-row p-2  justify-content-center align-items-center">
            <div>WanderLust private limited</div>
            <div class="f-info-links">
                <a href="/">Privacy .</a>
                <a href="/"> Terms </a>
            </div>
    
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
        </div>
    </div>
</footer>