<% layout("/layouts/boilerplate") -%>

<body>
    <h1>All Listings</h1>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let list of listings){ %>
            <a class="listing-link" href="/listings/<%= list._id %>">
                <div class="card listing-card">
                    <img src="<%= list.image %>" class="card-img-top" style="height: 20rem;"alt="...">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= list.title %><br></b>
                            &#x20b9;<%= list.price.toLocaleString("en-IN") %>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>